$palette--primary: #f7f7f7;
$primary: #284a6b;
$secondary: #504762;
$tertiary: #10c63d;
$errorValidation: #ec1b1b;
$success: #27c013;
$palette-brand-secondary: #cebf37;
$palette-brand-tertiary: rgb(245, 219, 208);

$palette-tertiary-hex: #f5dbd0;
