$palette--primary: #f7f7f7;
$primary: #a9f1b9;
$secondary: #504762;
$errorValidation: #ec1b1b;
$success: #27c013;
$palette-brand-secondary: #cebf37;
$palette-brand-tertiary: rgb(245, 219, 208);

$palette-tertiary-hex: #f5dbd0;
