@import '@styles/variables';

.header {
  width: 100%;
  background-color: $secondary;
  color: #ffffff;
  padding: 0 10px;

  p {
    margin: 0;
  }
  button {
    &:focus {
      outline: #ffffff dashed 1px;
      outline-offset: 2px;
      -moz-outline-radius: 2px;
      text-decoration: underline;
    }
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $tertiary;
}

.headerTitle {
  font-size: 2em;
  padding: 0.2em 0;
  text-decoration: none;
  &:focus {
    outline: #ffffff dashed 1px;
    outline-offset: 1px;
    -moz-outline-radius: 2px;
    text-decoration: underline;
  }
}

.headerCart {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;

    svg {
      margin-right: 0.5em;
    }
  }
}
