@import '@styles/variables';

.pagination {
  &__circle {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border: 2px solid $secondary;
    border-radius: 100%;
    opacity: 0.6;
    cursor: pointer;
    transform: scale(0.5);
    &:focus {
      outline: $secondary dashed 2px;
      outline-offset: 2px;
      -moz-outline-radius: 2px;
      text-decoration: underline;
    }
    &--active {
      background: $secondary;
      opacity: 1;
      transform: scale(1);
      &--neighbor {
        transform: scale(0.75);
      }
    }
  }
}
